{% extends 'shop/main.html' %}
{% load static %}
{% load filters %}
{% block content%}
<div class="row">
	<div class="col-lg-12">


		<br>
		<div class="box-element">
			<div class="cart-row">
				<div class="col-2"></div>
				<div class="col-2"><strong>Item</strong></div>
				<div class="col-2"><strong>Price</strong></div>
				<div class="col-2"><strong>Quantity</strong></div>
				<div class="col-2"><strong>Total</strong></div>
			</div>
			{% for product,quantity in products.items %}
			<div class="cart-row">
				<div class="col-2"><img class="row-image" src="{{ product.image.url }}"></div>
				<div class="col-2"><p>{{ product.name }}</p></div>
				<div class="col-2"><p>${{ product.price }}</p></div>
				<div class="col-2"><strong>{{ quantity }}</strong></div>
				<div class="col-2"><p>${{product|total_price:quantity }}</p></div>
				<div class="col-2">
					<form method="post">{%csrf_token%}
						<input hidden name="product" value="{{product.id}}" type="text">
						<button class="btn btn-info">Remove</button>
					</form>
				</div>
			</div>
			{% endfor %}



						<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
			  Complete Order
			</button>

			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Info...</h5>

				  </div>
				  <div class="modal-body">

					  <form method="post" action="/order/">{%csrf_token%}
						  <input class="form-control" name="name" placeholder="Name..." type="text"><hr>
						  <input class="form-control" name="phone" placeholder="Phone..." type="text"><hr>
						  <input class="form-control" name="email" placeholder="Email..." type="text">
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Confirm</button>
						  </div>
					  </form>
					  
					  
					  

				</div>
			  </div>
			</div>


		</div>
	</div>
</div>
{% endblock content%}

