{% extends 'shop/main.html' %}{% load static %}
{% block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="box-element">
			<br>
			<table class="table">
				<tr>
					<th><h5>Items: <strong>{{order.total_items|default:'0'}}</strong></h5></th>
					<th><h5>Total:<strong> ${{order.cart_total_price|floatformat:2|default:'0' }}</strong></h5></th>
					<th>
					</th>
				</tr>
			</table>
		</div>

		<br>
		<div class="box-element">
			<div class="cart-row">
				<div style="flex:2"></div>
				<div style="flex:2"><strong>Item</strong></div>
				<div style="flex:1"><strong>Price</strong></div>
				<div style="flex:1"><strong>Quantity</strong></div>
				<div style="flex:1"><strong>Total</strong></div>
			</div>
			{% for product,quantity in products.items %}
			<div class="cart-row">
				<div style="flex:2"><img class="row-image" src="{{ product.image.url }}"></div>
				<div style="flex:2"><p>{{ product.name }}</p></div>
				<div style="flex:1"><p>${{ product.price }}</p></div>
				<div style="flex:1">
					<div class="row">
						<div class="col-1 btn ">


						</div>
						<div class="center col-2 ml-3 mt-2">
							<strong>{{ quantity }}</strong>
						</div>
						<div class="col-1 btn">

						</div>

					</div>

				</div>

				<div style="flex:1"><p>$</p></div>
			</div>
			{% endfor %}

		</div>
	</div>
</div>
{% endblock content%}

