{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                 <a class="nav-link" href="{% url 'shop' %}">SHOP <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <form class="form-inline ">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search product here" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>




            <div class="form-inline my-2 my-lg-0">

                    <a href="#">
                        <img  id="cart-icon" src="{% static 'cart.png' %}">
                    </a>

            </div>
      </div>
</nav>