{% load filters %}
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Order</title>
</head>
<body>
<div class="container">
  <div class="row">
  <div class="col-2"><br><br><br>
    <form action="/download/{{order.id}}" method="post">
      {%csrf_token%}
      <button type="submit">Download Invoice</button>
    </form>
  </div>
  <div class="col-8"><br>
      <img width="200" height="200" src="http://127.0.0.1:8000{{ order.customer.qrcode.url }}" alt="">
    <table class="table table-bordered" border="1">
      <thead>
        <tr>
          <th scope="col" >Sl.<br>No.</th>
          <th scope="col" >Item</th>
          <th scope="col">Unit Price</th>
          <th scope="col">QTY</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
      {% for product in cart %}
        <tr>
          <th scope="row"><br>{{ forloop.counter }}</th>
          <td align="center">{{product.product.name}}</td>
          <td align="center">${{product.product.price}}</td>
          <td align="center">{{product.quantity}}</td>
          <td align="center">${{product.product|total_price:product.quantity}}</td>
        </tr>
      {% endfor %}
        <tr>
          <td colspan="4"><br> Amount in words: <strong>{{cart|price|num2word|capfirst}} only.</strong></td>
            <td align="center">$<strong>{{cart|price}}</strong></td>
        </tr>
      </tbody>
    </table>

      <P>Go to this link to download invoice-- http://127.0.0.1:8000/order/{{ order.id }}</P>
    </div>

  </div>
</div>
</body>
</html>