{% extends 'shop/main.html' %}
{% load static %}
{% block content%}

   <div class="row">

        <div class="col-lg-3">
         {%if category%}
            <form method="POST">
                {%csrf_token%}
                <select name="category" >
                {% for category in category %}
                <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
                </select>
                <button>Search</button>
            </form>
            {%else%}

            <form method="POST">
                {%csrf_token%}
                <select name="product_id" >
                {% for product in products %}
                <option value="{{product.id}}">{{product.name}}</option>
                {% endfor %}
                </select>
                <button>Search</button>
            </form>
            {%endif%}
        </div>


        <div class="col-lg-9">
               <div class="row">
                 {% for product in products %}
               <div class="col-lg-4">
                    <div class="box-element product ">
                        <img  class="thumbnail"  src="{{ product.image.url }}" alt="">
                        <h6><strong>{{ product.name }}</strong></h6>
                        <hr>
                        <a class="btn btn-outline-success" href="#">Add to cart</a>
                        <h4 style="display: inline-block; float: right"><strong>${{ product.price}}</strong></h4>
                    </div>
               </div>
               {% endfor %}
            </div>
        </div>

   </div>
{% endblock content %}