{% extends 'shop/main.html' %}
{% load static %}
{% block content%}

   <div class="row">
        <div class="col-lg-3">
            {%if stock%}
            <h4> Enter quantity...</h4>
            <h4>We have {{stock}} in stock</h4>
            <form method="POST">
                {%csrf_token%}
                <input class="custom-select" name="quantity" placeholder="Quantity.." type="number">
                <input hidden class="custom-select" name="id" value="{{id}}" type="number">
                <button class="btn btn-outline-secondary">add to cart</button>
            </form>

             {%else%}
         {%if category%}
            <h4> Select a category...</h4>
            <form method="POST">
                {%csrf_token%}
                <select class="custom-select" name="category" >
                {% for category in category %}
                <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
                </select>
                <button class="btn btn-outline-secondary" >Submit</button>
            </form>
            {%else%}
            <h4> Select a product...</h4>
            <form method="POST">
                {%csrf_token%}
                <select class="custom-select"  name="product_id" >
                {% for product in products %}
                <option value="{{product.id}}">{{product.name}}</option>
                {% endfor %}
                </select>
                <button class="btn btn-outline-secondary">Search</button>
            </form>
            {%endif%}
            {%endif%}

             {% if messages %}
              {% for  message in messages %}
                 <h6> {{message}}</h6>
              {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-9">
               <div class="row">
                 {% for product in products %}
               <div class="col-lg-4">
                    <div class="box-element product ">
                        <img  class="thumbnail"  src="{{ product.image.url }}" alt="">
                        <h6><strong>{{ product.name }}</strong></h6>
                        <hr>
                        <form method="post" >{%csrf_token%}
                            <input hidden name="product" value={{product.id}} type="text">
                            <button class="btn btn-outline-success" >Add to cart</button>
                            <strong>${{ product.price}}</strong>
                        </form>
                    </div>
               </div>
               {% endfor %}
            </div>
        </div>
   </div>
{% endblock content %}